<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linlinjava.litemall.db.dao.LayerMapper">
  <resultMap id="BaseResultMap" type="org.linlinjava.litemall.db.domain.Layer">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="isRepeat" jdbcType="BIT" property="isRepeat" />
    <result column="sourcesIds" jdbcType="VARCHAR" property="sourcesIds" />
    <result column="createTime" jdbcType="BIGINT" property="createTime" />
    <result column="updateTime" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id,isRepeat,sourcesIds, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from layer
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from layer
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="org.linlinjava.litemall.db.domain.Layer">
    insert into layer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isRepeat != null">
        isRepeat,
      </if>
      <if test="sourcesIds != null">
        sourcesIds,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isRepeat != null">
        #{isRepeat,jdbcType=BIT},
      </if>
      <if test="sourcesIds != null">
        #{sourcesIds,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.linlinjava.litemall.db.domain.Layer">
    update layer
    <set>
      <if test="isRepeat != null">
        isRepeat = #{isRepeat,jdbcType=BIT},
      </if>
      <if test="sourcesIds != null">
        sourcesIds = #{sourcesIds,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByIdBatch" parameterType="String">
    delete from layer
    where
    id in
    <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <select id="selectLayerPage" parameterType="org.linlinjava.litemall.db.domain.Layer" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from layer where 1=1
    order by updateTime desc ,createTime desc
  </select>
</mapper>